:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  position: absolute;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 0.7em;
}

span,
p {
  font-size: 0.6em;
}

#app {
  margin: 0 auto;
  padding: 0 20px;
}

#input {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  padding: 6px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.wrapper {
  background-color: black;
  padding: 10px;
  padding-top: 60px;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.but {
  background-color: rgb(51, 51, 51);
  position: relative;
  border-radius: 4px;
  padding: 3px 7px;
  font-size: 20px;
  display: inline-block;
}

#input_div {
  border: 1px solid white;
  width: 130px;
  overflow: hidden;
  height: 30px;
  background-color: transparent;
  z-index: 10;
  border-radius: 5px;
  padding: 3px 9px 5px 3px;
  position: fixed;
  top: 10px;
  left: 20px;
}

.delete {
  width: 35px;
  position: fixed;
  rotate: 180deg;
  top: 9px;
  right: 30px;
}
